[Unit]
Description=Azen ALRM - 自适应资源与延迟管理器 (v3)
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/azen-alrm
Restart=on-failure
RestartSec=5

# 权限
ReadWritePaths=/var/log

# 安全加固
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
